---------------------------- covid Summary Data -----------------------------

In [8]:
import json
import csv
import urllib.request

# read the JSON data from the URL
url = 'https://data.viz.newsclick.in/covid/covidSummary.json'
response = urllib.request.urlopen(url)
data = json.loads(response.read())
print(data)
# data.head()

{'firstDoseAdministered': 77.08, 'indiaNewConfirmed': 444, 'indiaNewDeaths': 1, 'indiaNewRecovery': 252, 'indiaNewTests': 44846, 'indiaNewVaccinated': 372, 'indiaTotalActive': 3809, 'indiaTotalConfirmed': 44690936, 'indiaTotalDeaths': 530782, 'indiaTotalRecovery': 44156345, 'indiaTotalTests': 919716776, 'indiaTotalVaccinated': 1979288349, 'secondDoseAdministered': 71.42, 'timestamp': '2023-03-13', 'worldNewConfirmed': 422847, 'worldNewDeaths': 1396, 'worldNewRecovery': 0, 'worldTotalActive': 632367530, 'worldTotalConfirmed': 638991129, 'worldTotalDeaths': 6623604, 'worldTotalRecovery': 0}

In [17]:
# open a CSV file for writing
with open('covidSummary.csv', 'w', newline='') as csvfile:
    writer = csv.writer(csvfile)

    # write the header row
    writer.writerow(['State',"                                           ",'Values'])

    # write the data rows
    for key, value in data.items():
        writer.writerow([key,"                " ,value])

-------------------------  Survey Data   ----------------------

In [68]:
import numpy as np
import pandas as pd

In [69]:
data = pd.read_csv("./SurveyData.csv")
print(data)

     sno                          start                            end  \
0      0  2022-09-25T07:30:13.971+05:30  2022-09-25T07:44:33.366+05:30
1      1  2022-09-25T07:44:33.445+05:30  2022-09-25T07:57:41.159+05:30
2      2  2022-09-25T07:26:52.113+05:30  2022-09-25T07:58:07.758+05:30
3      3  2022-09-25T07:41:11.150+05:30  2022-09-25T08:00:39.704+05:30
4      4  2022-09-25T07:58:07.808+05:30  2022-09-25T08:07:01.766+05:30
..   ...                            ...                            ...
698  698  2022-09-25T18:13:51.170+05:30  2022-09-25T18:22:19.736+05:30
699  699  2022-09-25T18:10:58.053+05:30  2022-09-25T18:22:30.591+05:30
700  700  2022-09-25T18:16:53.103+05:30  2022-09-25T18:23:17.865+05:30
701  701  2022-09-25T18:23:17.919+05:30  2022-09-25T18:27:53.039+05:30
702  702  2022-09-25T18:15:26.535+05:30  2022-09-25T18:30:41.052+05:30

            జిల్లాపేరు                మండలంపేరు  \
0           రంగారెడ్డి                 ఆమనగల్లు
1           రంగారెడ్డి                 ఆమనగల్లు
2           రంగారెడ్డి                 ఆమనగల్లు
3    రంగారెడ్డి జిల్లా                    మంచాల
4           రంగారెడ్డి                 ఆమనగల్లు
..                 ...                      ...
698      నాగర్ కర్నూల్  నాగర్ కర్నూల్ తెలకపల్లి
699              మెదక్                నర్సాపూర్
700              మెదక్                నర్సాపూర్
701              మెదక్                నర్సాపూర్
702              మెదక్                కౌడిపల్లి

                               గ్రామంపేరు  \
0                                కోనాపూర్
1                                కోనాపూర్
2                                ఖానాపూర్
3                                 chededu
4                                ఖానాపూర్
..                                    ...
698  వేమారెడ్డి డి జే మా రెడ్డి తెలకపల్లి
699                        పెద్ద చింతకుంట
700                       పెద్ద చింత కుంట
701                       పెద్ద చింత కుంట
702                             ధర్మసాగర్

                                                  పేరు    లింగము  వయస్సు  \
0                                               జ్యోతి    స్త్రీ    40.0
1                                              పెంటమ్మ    స్త్రీ    48.0
2                                               యాదయ్య  పురుషుడు    42.0
3                                        మేకల రామకృష్ణ  పురుషుడు    30.0
4                                                  NaN  పురుషుడు    70.0
..                                                 ...       ...     ...
698  శ్యామ్ రెడ్డి ఇ రెడ్డి సేమ్ రెడ్డి శ్రీ సిరి సిరి       NaN     NaN
699                                    కట్ట నర్సింహులు  పురుషుడు    54.0
700                                        కె.వెంకటయ్య  పురుషుడు    54.0
701                                        చిందు.రమెశ్  పురుషుడు    32.0
702                                         శ్రీనివాస్  పురుషుడు    31.0

    ప్రస్తుతం_చేస్తున్న_వృత్తి  ...                 version    id  \
0                         కూలి  ...  vwAHNgNSvWauy7VmH9LRnj  1549
1                         కూలి  ...  vwAHNgNSvWauy7VmH9LRnj  1550
2                     కూలి పని  ...  vwAHNgNSvWauy7VmH9LRnj  1551
3              డాక్టర్ డ్రైవర్  ...  vwAHNgNSvWauy7VmH9LRnj  1552
4                         కూలి  ...  vwAHNgNSvWauy7VmH9LRnj  1553
..                         ...  ...                     ...   ...
698              ఎంబ్రాయిడింగ్  ...  vwAHNgNSvWauy7VmH9LRnj  2289
699              వ్యవసాయం కూలి  ...  vwAHNgNSvWauy7VmH9LRnj  2290
700                     కిరానం  ...  vwAHNgNSvWauy7VmH9LRnj  2291
701                      లెబర్  ...  vwAHNgNSvWauy7VmH9LRnj  2292
702                ఆటో డ్రైవర్  ...  vwAHNgNSvWauy7VmH9LRnj  2293

                                    _uuid     _submission_time  \
0    e303e9bd-f92e-46a6-a6b1-110f19106308  2022-09-25T02:14:43
1    d465fded-b1a9-4ada-a1a0-7477394436db  2022-09-25T02:27:51
2    eb7b3226-b926-4b92-aa12-cbf3f5e345c3  2022-09-25T02:28:17
3    b8b187de-d076-413c-8515-cce16b4025e8  2022-09-25T02:30:48
4    dd15d4ee-58b3-4c8a-8d6f-be761a19ea56  2022-09-25T02:37:11
..                                    ...                  ...
698  e83fb2bf-177e-4e23-9f37-78d8bfbf6c10  2022-09-25T12:52:29
699  43c3c018-3fef-47f5-8ac9-b4c7bdc62b1f  2022-09-25T12:52:40
700  47bffbfc-0278-46b3-976b-5837f9e81869  2022-09-25T12:53:28
701  664e2d5c-73b7-48ff-8f00-a9f5423d9d5f  2022-09-25T12:58:04
702  b8d30cc9-4c57-4c06-88c2-379812fc620b  2022-09-25T13:00:52

    _validation_status _notes            _status _submitted_by  _tags  _index
0                  NaN    NaN  submitted_via_web           NaN    NaN       1
1                  NaN    NaN  submitted_via_web           NaN    NaN       2
2                  NaN    NaN  submitted_via_web           NaN    NaN       3
3                  NaN    NaN  submitted_via_web           NaN    NaN       4
4                  NaN    NaN  submitted_via_web           NaN    NaN       5
..                 ...    ...                ...           ...    ...     ...
698                NaN    NaN  submitted_via_web           NaN    NaN     699
699                NaN    NaN  submitted_via_web           NaN    NaN     700
700                NaN    NaN  submitted_via_web           NaN    NaN     701
701                NaN    NaN  submitted_via_web           NaN    NaN     702
702                NaN    NaN  submitted_via_web           NaN    NaN     703

[703 rows x 320 columns]

In [70]:
data.head()

,sno,start,end,జిల్లాపేరు,మండలంపేరు,గ్రామంపేరు,పేరు,లింగము,వయస్సు,ప్రస్తుతం_చేస్తున్న_వృత్తి,...,version,id,_uuid,_submission_time,_validation_status,_notes,_status,_submitted_by,_tags,_index
0,0,2022-09-25T07:30:13.971+05:30,2022-09-25T07:44:33.366+05:30,రంగారెడ్డి,ఆమనగల్లు,కోనాపూర్,జ్యోతి,స్త్రీ,40.0,కూలి,...,vwAHNgNSvWauy7VmH9LRnj,1549,e303e9bd-f92e-46a6-a6b1-110f19106308,2022-09-25T02:14:43,NaN,NaN,submitted_via_web,NaN,NaN,1
1,1,2022-09-25T07:44:33.445+05:30,2022-09-25T07:57:41.159+05:30,రంగారెడ్డి,ఆమనగల్లు,కోనాపూర్,పెంటమ్మ,స్త్రీ,48.0,కూలి,...,vwAHNgNSvWauy7VmH9LRnj,1550,d465fded-b1a9-4ada-a1a0-7477394436db,2022-09-25T02:27:51,NaN,NaN,submitted_via_web,NaN,NaN,2
2,2,2022-09-25T07:26:52.113+05:30,2022-09-25T07:58:07.758+05:30,రంగారెడ్డి,ఆమనగల్లు,ఖానాపూర్,యాదయ్య,పురుషుడు,42.0,కూలి పని,...,vwAHNgNSvWauy7VmH9LRnj,1551,eb7b3226-b926-4b92-aa12-cbf3f5e345c3,2022-09-25T02:28:17,NaN,NaN,submitted_via_web,NaN,NaN,3
3,3,2022-09-25T07:41:11.150+05:30,2022-09-25T08:00:39.704+05:30,రంగారెడ్డి జిల్లా,మంచాల,chededu,మేకల రామకృష్ణ,పురుషుడు,30.0,డాక్టర్ డ్రైవర్,...,vwAHNgNSvWauy7VmH9LRnj,1552,b8b187de-d076-413c-8515-cce16b4025e8,2022-09-25T02:30:48,NaN,NaN,submitted_via_web,NaN,NaN,4
4,4,2022-09-25T07:58:07.808+05:30,2022-09-25T08:07:01.766+05:30,రంగారెడ్డి,ఆమనగల్లు,ఖానాపూర్,NaN,పురుషుడు,70.0,కూలి,...,vwAHNgNSvWauy7VmH9LRnj,1553,dd15d4ee-58b3-4c8a-8d6f-be761a19ea56,2022-09-25T02:37:11,NaN,NaN,submitted_via_web,NaN,NaN,5

In [71]:
data.shape

(703, 320)

In [72]:
print(data[:0])

Empty DataFrame
Columns: [sno, start, end, జిల్లాపేరు, మండలంపేరు, గ్రామంపేరు, పేరు, లింగము, వయస్సు, ప్రస్తుతం_చేస్తున్న_వృత్తి, తండ్రి_పేరు, సామాజిక_తరగతి, ఉప_కులం, మతము, పుట్టిన_గ్రామము, పుట్టిన_మండలం, వలస_స్థితి, వలస_వచ్చిన_సంవత్సరం, ఫోన్_నెంబరు, II_విద్య_అక్ష్యరాస్యత, చదువు_స్థాయి, reasons_for_stop_study_main, reasons_for_stop_study_ఆర్ధిక_పరిస్థితులు, reasons_for_stop_study_Others, ఇతర_కారణాలు, ఇవి_తెలియజేయండి_main, ఇవి_తెలియజేయండి_ప్రైవేటుగా_డబ్బు_చెల్లించి_ట్రైనింగ్_తీసుకున్నారా, ఇవి_తెలియజేయండి_ప్రభుత్వం_ట్రైనింగ్_ఇచ్చిందా, ఇవి_తెలియజేయండి_కొంత_కాలం_ఉచిత_సేవలు_చేసి_నేర్చుకున్నారా, ఇవి_తెలియజేయండి_మిత్రుల_ద్వారా_నేర్చుకున్నారా, ఇవి_తెలియజేయండి_ఎవరైనా_సహాయం_చేశారా, ఇవి_తెలియజేయండి_వారసత్వంగా_నేర్చుకున్నారా, ఇవి_తెలియజేయండి_ఫోను_ఉందా, ఇవి_తెలియజేయండి_స్మార్ట్_ఫోన్_ఉందా, ఇవి_తెలియజేయండి_ఫ్రిడ్జ్_ఉన్నదా, ఇవి_తెలియజేయండి_వాషింగ్_మెషిన్_ఉన్నదా, కుటుంబంలో_ఎన్ని_ఫోన్లు_ఉన్నాయి, apps_used, వాడే_apps_ఏవి_WhatsApp, వాడే_apps_ఏవి_Facebook, వాడే_apps_ఏవి_YouTube, వాడే_apps_ఏవి_Paytm, వాడే_apps_ఏవి_Chrome, వాడే_apps_ఏవి_Others, ఇతర_apps, app_use_reason, app_use_reason_వినోదం, app__use_reason_వార్తలు, app__use_reason_కాల్స్, app__use_reason_సినిమాలు, app__use_reason_Others, ఇతర_అవసరాలు, III_తండ్రి_చేసిన_వృత్తులు, తండ్రి_చేసిన_వృత్తులు, తండ్రి_చేసిన_వృత్తులు_వ్యవసాయం, తండ్రి_చేసిన_వృత్తులు_కూలి_పని, తండ్రి_చేసిన_వృత్తులు_Others, ఇతర_వృత్తులు, IV_ఆదాయ_మార్గాలు, ఆదాయ_మార్గాలు, ఆదాయ_మార్గాలు_కూలి, ఆదాయ_మార్గాలు_హమాలి, ఆదాయ_మార్గాలు_వ్యవసాయం, ఆదాయ_మార్గాలు_ట్రాక్టర్_డ్రైవర్, ఆదాయ_మార్గాలు_బిల్డింగ్_వర్కర్స్, ఆదాయ_మార్గాలు_పెయింటింగ్, ఆదాయ_మార్గాలు_ఆటో_డ్రైవర్, ఆదాయ_మార్గాలు_Others, ఇతర_ఆదాయ_మార్గాలు, spouse_ఆదాయ_మార్గాలు, spouse_ఆదాయ_మార్గాలు_వ్యవసాయ_కూలీ, spouse_ఆదాయ_మార్గాలు_కూలి_పని_ద్వారా, spouse_ఆదాయ_మార్గాలు_లేదు, spouse_ఆదాయ_మార్గాలు_గృహిణి, spouse_ఆదాయ_మార్గాలు_Others, ఇతర_భాగస్వామి_ఆదాయ_మార్గాలు, family_ఇతర_ఆదాయ_మార్గాలు, family_ఇతర_ఆదాయ_మార్గాలు_ఫోను, family_ఇతర_ఆదాయ_మార్గాలు_స్మార్ట్, family_ఇతర_ఆదాయ_మార్గాలు_ఫ్రిడ్జ్, family_ఇతర_ఆదాయ_మార్గాలు_వాషింగ్_మెషిన్, family_ఇతర_ఆదాయ_మార్గాలు_ఏమీ_లేవు, family_ఇతర_ఆదాయ_మార్గాలు_కూలి_పని_ద్వారా, family_ఇతర_ఆదాయ_మార్గాలు_Others, ఇతర_కుటుంబ_ఆదాయ_మార్గాలు, ఏయే_మార్గం_నుంచి_ఎంత_ఆదాయం, other_source_of_income_కారణమేమిటి, other_source_of_income_కారణమేమిటి_పేదరికం, other_source_of_income_కారణమేమిటి_Others, Others, methods_for_aquiring_current_skills, methods_for_aquiring_current_skills_జట్టులో_ఉండటం, methods_for_aquiring_current_skills_యూనియన్, methods_for_aquiring_current_skills_కులసంఘం_లేదా_కులపోళ్ళు, methods_for_aquiring_current_skills_పండగల_కమిటీలు_మాల, methods_for_aquiring_current_skills_మతపరమైన, methods_for_aquiring_current_skills_అలవాట్ల_ప్రాతిపదికగా, methods_for_aquiring_current_skills_ప్రైవేటుగా_డబ్బు_చెల్లించి_ట్రైనింగ్_తీసుకున్నారా, methods_for_aquiring_current_skills_ప్రభుత్వం_ట్రైనింగ్_ఇచ్చిందా, methods_for_aquiring_current_skills_కొంత_కాలం_ఉచిత_సేవలు_చేసి_నేర్చుకున్నారా, ...]
Index: []

[0 rows x 320 columns]

In [73]:
data.isna()

,sno,start,end,జిల్లాపేరు,మండలంపేరు,గ్రామంపేరు,పేరు,లింగము,వయస్సు,ప్రస్తుతం_చేస్తున్న_వృత్తి,...,version,id,_uuid,_submission_time,_validation_status,_notes,_status,_submitted_by,_tags,_index
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,True,True,False,True,True,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,True,True,False,True,True,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,True,True,False,True,True,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,True,True,False,True,True,False
4,False,False,False,False,False,False,True,False,False,False,...,False,False,False,False,True,True,False,True,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
698,False,False,False,False,False,False,False,True,True,False,...,False,False,False,False,True,True,False,True,True,False
699,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,True,True,False,True,True,False
700,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,True,True,False,True,True,False
701,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,True,True,False,True,True,False
702,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,True,True,False,True,True,False

In [74]:
# whatsapp = data['వాడే_apps_ఏవి_WhatsApp'].isna()
# whatsapp

In [75]:
whatsapp = data['వాడే_apps_ఏవి_WhatsApp'].count()
whatsapp

438

In [76]:
# facebook = data['వాడే_apps_ఏవి_Facebook'].isna()
# facebook

In [77]:
facebook = data['వాడే_apps_ఏవి_Facebook'].count()
facebook

438

In [78]:
youtube = data['వాడే_apps_ఏవి_YouTube'].count()
paytm = data['వాడే_apps_ఏవి_Paytm'].count()
chrome = data['వాడే_apps_ఏవి_Chrome'].count()
others = data['వాడే_apps_ఏవి_Others'].count()
print(youtube , paytm , chrome , others)

438 438 438 438

In [85]:
with open('surveySummary.csv', 'w', newline='') as csvfile:
    writer = csv.writer(csvfile)

    # write the header row
    writer.writerow(['Socila Media',"                      ",'Values'])
    socialsData ={ "Facebook":facebook, "Whatsapp":whatsapp, "You Tube":youtube, "PayTM":paytm, "Chrome":chrome, "Others":others}
    # write the data rows
    for key, value in socialsData.items():
        writer.writerow([key ,"                            ", value])